<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/lecturenotes">
	        		Lecture Notes</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hbyang@mit.edu">email</a></li>
	        		<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Cool Link</a></li>
				</ul>
			</footer>
		</body>
	</html>
